@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* how much primary and secondary colors should differ in lightness in oklch */
  --lightness-diff: 0.06;
  --lightness-diff-dark: 0.15;
}

@theme {
  --content-width: 700px;

  --spacing-sm: --spacing(2);
  --spacing-std: --spacing(4);
  --spacing-lg: --spacing(8);

  --color-fg-blog: color-mix(
    in oklch,
    var(--color-neutral-800),
    var(--color-neutral-900)
  );
  --color-fg-primary: var(--color-black);
  --color-fg-secondary: var(--color-neutral-700);
  --color-fg-tertiary: var(--color-neutral-600);
  --color-bg-primary: var(--color-white);
  --color-bg-secondary: oklch(
    from var(--color-bg-primary) calc(l - var(--lightness-diff)) c h
  );
  --color-bg-tertiary: oklch(
    from var(--color-bg-primary) calc(l - calc(2 * var(--lightness-diff))) c h
  );

  --color-fg-blog-dark: color-mix(
    in oklch,
    var(--color-neutral-200),
    var(--color-neutral-100)
  );
  --color-fg-primary-dark: var(--color-white);
  --color-fg-secondary-dark: var(--color-neutral-300);
  --color-fg-tertiary-dark: var(--color-neutral-400);
  --color-bg-primary-dark: var(--color-neutral-900);
  --color-bg-secondary-dark: oklch(
    from var(--color-bg-primary-dark) calc(l - var(--lightness-diff-dark)) c h
  );
  --color-bg-tertiary-dark: oklch(
    from var(--color-bg-primary-dark)
      calc(l - calc(2 * var(--lightness-diff-dark))) c h
  );
}

@utility code {
  background-color: color-mix(
    in oklch,
    var(--color-bg-primary),
    var(--color-bg-secondary)
  );
  @media (prefers-color-scheme: dark) {
    background-color: color-mix(
      in oklch,
      var(--color-bg-primary-dark),
      var(--color-bg-secondary-dark)
    );
  }
}

@layer base {
  .prose {
    @apply text-fg-blog! dark:text-fg-blog-dark!;

    li::marker {
      @apply text-fg-blog! dark:text-fg-blog-dark!;
    }
    aside {
      @apply border-s-4 ps-std text-sm/6 text-fg-tertiary dark:text-fg-tertiary-dark border-neutral-200 dark:border-neutral-700;
    }
    aside code {
      @apply p-0.5;
    }
    /* biome-ignore lint/style/noDescendingSpecificity: prefer to sort rules alphabetically */
    code {
      @apply font-normal! p-1 code rounded-sm before:content-none! after:content-none!;
    }
    code strong {
      @apply font-bold;
    }
    figcaption {
      @apply mt-std! text-fg-secondary! dark:text-fg-secondary-dark!;
    }
    figcaption p {
      @apply my-0!;
    }
    figure {
      @apply my-6!;
    }
    h1,
    h2 {
      @apply font-semibold! tracking-tight;
    }
    img {
      @apply mx-auto mb-0 md:max-h-(--content-width) rounded-md;
    }
    @media (prefers-color-scheme: light) {
      pre {
        @apply code! text-inherit!;
      }
    }
  }
}

@layer components {
  .card .prose code {
    @apply bg-bg-tertiary dark:bg-bg-tertiary-dark;
  }

  .card-heading {
    @apply font-semibold text-lg mb-sm text-fg-primary dark:text-fg-primary-dark;
  }
}
